<div class="admin-panel">
  <p>In here you can configure the content of your legal pages, you can use 
    HTML, JavaScript and any CSS that you need, the code that you write in here will be
    rendered as it is.
  </p>

  <p>Once you are done, you can take a review the published<a href="/web/legal/terms">The Terms and Conditions</a> or <a href="/web/legal/privacy">The Privacy Policy</a> pages</p>

  <md-input-container>
    <label translate="CONFIG_LEGAL_TERMS"></label>
    <textarea ng-model="configCtr.configs.APP_LEGAL_TERMS" class="area-max"></textarea>
  </md-input-container>
  
  <md-input-container>
    <label translate="CONFIG_LEGAL_PRIVACY"></label>
    <textarea ng-model="configCtr.configs.APP_LEGAL_PRIVACY" class="area-max"></textarea>
  </md-input-container>


</div>