<md-button ng-click="configCtr.setTab('global')" ng-class="{'md-primary md-raised': configCtr.tab == 'global'}">
  <i class="flaticon-list36"></i> {{'CONFIG_GLOBAL' | translate}}</md-button>
<md-button ng-click="configCtr.setTab('ga')" ng-class="{'md-primary md-raised': configCtr.tab == 'ga'}">
  <i class="flaticon-list36"></i> {{'CONFIG_GA' | translate}}</md-button>
<md-button ng-click="configCtr.setTab('facebook')" ng-class="{'md-primary md-raised': configCtr.tab == 'facebook'}">
  <i class="flaticon-list36"></i> {{'CONFIG_FACEBOOK' | translate}}</md-button>
<md-button ng-click="configCtr.setTab('legal')" ng-class="{'md-primary md-raised': configCtr.tab == 'legal'}">
  <i class="flaticon-list36"></i> {{'CONFIG_LEGAL' | translate}}</md-button>
<md-button ng-click="configCtr.setTab('theme')" ng-class="{'md-primary md-raised': configCtr.tab == 'theme'}">
  <i class="flaticon-list36"></i> {{'CONFIG_THEME' | translate}}</md-button>